@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav.header {
  @apply w-full
    flex
    bg-green-900/90
    shadow-white
    fixed
    top-0
    z-50
    py-10
    px-24
    text-center
    backdrop-blur-lg;
  box-shadow: #b6e52a 0px 0px 15px 0px;
}

.darkModeSelector {
  @apply bg-gray-800
        dark:bg-gray-50
        hover:bg-gray-600
        dark:hover:bg-gray-300
        text-white
        dark:text-gray-800
        fixed
        py-2
        top-[-8]
        right-24
        transition-all
        duration-100
        md:text-xs
        rounded-lg
        text-xs;
}
